@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@300;400;500;600&display=swap");
:root {
  --bg-color-light: #547199;
  --color-dark: #31343d;
  --color-light-green: #92cccd;
  --color-gray: #8493a2;
  --font-serif: "Open Sans", sans-serif;
  --font-robto: "Roboto Slab", serif;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--bg-color-light);
  font-family: var(--font-serif);
}

/* utility classes */
.label {
  min-height: 100%;
  text-align: right;
  padding-right: 40px;
  min-width: 10%;
  max-width: 10%;
  border-right: 3px solid var(--color-dark);
}

.margin {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.highlight-text {
  background-color: var(--color-light-green);
  display: inline-block;
  padding: 1rem;
}

/* end of utility classes */

.about-me,
.work,
.contact-me {
  display: flex;
  gap: 80px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark);
  padding: 10px 80px 10px 0px;
}

nav a {
  color: var(--color-light-green);
}

h1 {
  display: inline-block;
  background-color: var(--color-light-green);
  font-family: var(--font-serif);
  font-size: 3rem;
  padding-left: 3rem;
}
h3,
h5 {
  font-size: 2rem;
}

h4 {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--color-light-green);
}

nav ul {
  display: flex;
  gap: 10px;
}

.hero {
  background-image: url(../images/AdobeStock_397851688.jpeg);
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 53%;
  left: 73%;
  background-color: var(--color-light-green);
  font-size: 3rem;
  padding: 10px;
}

.about-me img {
  max-width: 100px;
  float: left;
  margin-right: 1rem;
}

.about-me p {
  font-size: 20px;
  line-height: 1.5;
  max-width: 90%;
}

.project-wrapper {
  width: 80%;
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.projects a {
  text-decoration: none;
}

.project {
  background-size: cover;
  background-position: center;
  min-height: 300px;
  opacity: 0.75;
}

.project-1 {
  background-image: url(../images/AdobeStock_112481406.jpeg);

  grid-column: 1/3;
  grid-row: span 2;
}

.project-2 {
  background-image: url(../images/AdobeStock_231680254.jpeg);
}
.project-3 {
  background-image: url(../images/AdobeStock_397346149.jpeg);
}
.project-4 {
  background-image: url(../images/AdobeStock_397346149.jpeg);
}
.project-5 {
  background-image: url(../images/AdobeStock_397346149.jpeg);
}
