:root {
}

html {
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
}

header img {
  width: 100px;
  height: auto;
}

nav ul {
  display: flex;
  gap: 10px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
